body{
    height: 1000px;
    width: 700px;
    border: 3px solid black;
}
header{
    background-color: aqua;
    position: relative;
    height: 60px;
}
header h1{
    color: brown;
    position: absolute ;
    left: 65px;
    top: -10px;
    
}
.home{
    color: brown;
    position: absolute ;
    left: 300px;
    top: 0px;
    
}
.about{
    color: brown;
    position: absolute ;
    left: 400px;
    top: 0px;
    
}
header img{
    position: relative;
    left: 10px;
    top: 5px;
    }
main{
    background-color: cornsilk;
    height: 200px;
    position: relative;
}
table {
    /* position: absolute; */
    left: 50px;
    border: 3px solid red;
    margin: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}
table td, th{
    border: 3px solid black;
}
footer{
    position: relative;
    background-color: cyan;
}